## Loading the Dataset

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('train_LZdllcl.csv')
df.shape

(54808, 14)

In [3]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

## Imputing Missing Values

In [4]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [5]:
df['education'].fillna((df['education'].mode()[0]), inplace=True)

In [6]:
df['previous_year_rating'].fillna((df['previous_year_rating'].mode()[0]), inplace=True)

In [7]:
cols = ['department', 'region', 'education', 'gender', 'recruitment_channel']

for _ in cols:
    print('*****', _, '*****')
    print(df[_].value_counts())
    print('')

***** department *****
Sales & Marketing    16840
Operations           11348
Technology            7138
Procurement           7138
Analytics             5352
Finance               2536
HR                    2418
Legal                 1039
R&D                    999
Name: department, dtype: int64

***** region *****
region_2     12343
region_22     6428
region_7      4843
region_15     2808
region_13     2648
region_26     2260
region_31     1935
region_4      1703
region_27     1659
region_16     1465
region_28     1318
region_11     1315
region_23     1175
region_29      994
region_32      945
region_19      874
region_20      850
region_14      827
region_25      819
region_17      796
region_5       766
region_6       690
region_30      657
region_8       655
region_10      648
region_1       610
region_24      508
region_12      500
region_9       420
region_21      411
region_3       346
region_34      292
region_33      269
region_18       31
Name: region, dtype: int64

***** education *****
Bachelor's          39078
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

***** gender *****
m    38496
f    16312
Name: gender, dtype: int64

***** recruitment_channel *****
other       30446
sourcing    23220
referred     1142
Name: recruitment_channel, dtype: int64

In [8]:
df = pd.get_dummies(df)
df.shape

(54808, 60)

## Train - Test split

In [9]:
x = df.drop('is_promoted', axis=1)
y = df['is_promoted']

In [10]:
from sklearn.model_selection import train_test_split
train_x, valid_x, train_y, valid_y = train_test_split(x, y, test_size = 0.3, random_state = 2)

## Logistic regression

In [11]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [12]:
logreg.fit(train_x, train_y)
logreg.score(train_x, train_y), logreg.score(valid_x, valid_y)

/home/aishwarya/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

(0.9150267170598202, 0.9143708568995925)

## Random Forest

In [13]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=300, max_depth=6, min_samples_split=20, random_state=2)

In [14]:
rf.fit(train_x, train_y)
rf.score(train_x, train_y), rf.score(valid_x, valid_y)

(0.9222207741430992, 0.9209998175515417)